@model IEnumerable<ExplosiveClassStats>
@{
    ViewData["Title"] = "Soldier All-Time";
}

<h1>@ViewData["Title"]</h1>

@if (@Model.Count() != null)
{
    <div>
    <table border="5" style="background-color:#FFFFFF;border-collapse:collapse;border:5px solid #6600FF;color:#000000;width:100%" cellpadding="3" cellspacing="3">
            <tr>
                <th>Player Name</th>
                <th>Number Of Games</th>
                <th>Average DPM</th>
                <th>Average Kills</th>
                <th>Average Assists</th>
                <th>Average Deaths</th>
                <th>Average Airshots</th>
            </tr>
    @foreach (var PlayerStat in @Model)
    {
        <tr>
            <td>@PlayerStat.SteamName</td>
            <td>@PlayerStat.NumberOfGames</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageDPM), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageKills), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageAssists), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageDeaths), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageAirshots), 2)</td>
        </tr>
    }
    </table> 
</div>
}
else
{
    <h1>Well looks like there is no data... Damn</h1>
}