@{
    ViewData["Title"] = "Recent";
}
@model IEnumerable<PlayerPerformanceStats>

<h1>@ViewData["Title"]</h1>

@if (@Model.Count() != null)
{
    <div>
    <table border="5" style="background-color:#FFFFFF;border-collapse:collapse;border:5px solid #6600FF;color:#000000;width:100%" cellpadding="3" cellspacing="3">
            <tr>
                <th>Player Name</th>
                <th>NumberOfGames</th>
                <th>AverageDPM</th>
                <th>AverageKills</th>
                <th>AverageAssists</th>
                <th>AverageDeaths</th>
                <th>AverageAirshots</th>
                <th>AverageHeadshots</th>
            </tr>
    @foreach (var PlayerStat in @Model)
    {
        <tr>
            <td>@PlayerStat.SteamName</td>
            <td>@PlayerStat.NumberOfGames</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageDPM), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageKills), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageAssists), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageDeaths), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageAirshots), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.AverageHeadshots), 2)</td>
        </tr>
    }
    </table> 
</div>
}
else{
    <h1>Well looks like there is no data... Damn</h1>
}