@model IEnumerable<ScoutPerformanceStats>
@{
    ViewData["Title"] = "ScoutRecent";
}

<h1>@ViewData["Title"]</h1>

@if (@Model.Count() != null)
{
    <div>
    <table border="5" style="background-color:#FFFFFF;border-collapse:collapse;border:5px solid #6600FF;color:#000000;width:100%" cellpadding="3" cellspacing="3">
            <tr>
                <th>Player Name</th>
                <th>NumberOfGames</th>
                <th>DPM</th>
                <th>Kills</th>
                <th>Assists</th>
                <th>Deaths</th>
            </tr>
    @foreach (var PlayerStat in @Model)
    {
        <tr>
            <td>@PlayerStat.SteamName</td>
            <td>@PlayerStat.NumberOfGames</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.DPM), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.Kills), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.Assists), 2)</td>
            <td>@Math.Round(Convert.ToDouble(PlayerStat.Deaths), 2)</td>
        </tr>
    }
    </table> 
</div>
}
else
{
    <h1>Well looks like there is no data... Damn</h1>
}